


/**
 * For mobile phones
 */
@media (max-width: 576px) {
	.main-massege div h1{
        font-size: inherit;
    }
    .main-massege {
    	margin-top: 0 !important;
    }
    .trending-left h5{
       font-size: 1rem;
    }
    .country-flag{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

/**
 * For tablets
 */

@media (max-width: 768px){
    .main-massege div h1{
        font-size: 2rem;
    }
    .trending-right input{
        font-size: 0.9rem;
        width: 80%;
    }
    .search-container input{
        font-size: 0.9rem;
    }
    .container-card{
        grid-template-columns: 1fr;
    }
    .guides-text img{
	    width: 100%;
	    height: 100%;
	}
	.guides-container{
        height: 78vh;
        display: grid;
        grid-template-columns: 100%;
    }
}

/**
 * For Medium devices
 */
@media (max-width: 992px) {
	#header .nav-link {
		margin-left: 0 !important;
	}
	#header .flag-toggler {
		padding-left: 0 !important;
	}
	.trending-right {
		padding-left: 15px !important;
	}
	
}

